
.DS_Store

TSLocateView.xcodeproj/project.xcworkspace/contents.xcworkspacedata

TSLocateView.xcodeproj/xcuserdata/qma.xcuserdatad/xcschemes/TSLocateView.xcscheme

TSLocateView.xcodeproj/xcuserdata/qma.xcuserdatad/xcschemes/xcschememanagement.plist

TSLocateView.xcodeproj/project.xcworkspace/xcuserdata/qma.xcuserdatad/UserInterfaceState.xcuserstate
